/**************************************
************** General ****************
**************************************/


body {
  color: #222;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
}


h1,h2,h3,h4,h5 {
  font-family: Open Sans, sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 1.5em;
}

h2 {
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.03em;
}

h3 {
  color: #383838;
  font-weight: 700;
  font-size: 1.2em;
}

h4 {
  color: #444;
  font-weight: 300;
  letter-spacing: 0.02em;

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

/**************************************
************** Classes ****************
**************************************/

@media (max-width: 576px) {
  nav > .container {
    width: 100%;
  }
}

.navbar-brand {
  font-family: Montserrat, Lato, sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.11em;
}

.navbar-toggler {
  z-index: 1;
  font-size: 1.5em;
  border: none;
}

.navbar-toggler-icon {
  height: 2em;
}

.category {
  a {
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
    
    &:hover {
      color: inherit;
    }
  }

  .category-item {
    border: none;

    &:hover {
      background-color: darken(#fff, 10%);
    }

    &:first-child {
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
    }
  }
}

nav + div.container {
  margin-top: 1.5em;
}

.card {
  border: none;
  border-radius: 2px;

  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-img-top {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.card-footer {
  border: none;
  padding: 0.25em 1.25em 0.75em;
}

.btn-ss {
  border: none;
  display: inline-block;
  padding: 0 1em;
  border-radius: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 2.25em;
  transition: all 0.3s ease;

  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);

  &:hover {
  box-shadow:
    0 3px 2px 0 rgba(0,0,0,0.14),
    0 2px 5px 0 rgba(0,0,0,0.12),
    0 4px 1px -2px rgba(0,0,0,0.2);
  }
}

.btn-bw {
  background-color: #222;
  color: #fff;

  &:hover {
    background-color: lighten(#222, 12%);
  }
}

a.btn-bw {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: inherit;
  }

  &:focus {
    text-decoration: inherit;
  }
}
